@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary:#133c8b;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
    margin: 0;
}